*{
    margin:0;
    box-sizing: border-box;
}
.kontener {
    display: flex;
    height: 100vh; 
}

.lewy {
    width: 20%;
    background-color: #f0f0f0;
    padding: 20px;
}

.prawy {
    width: 80%;
    padding: 20px;
}


.menu{
    background-color: cornflowerblue;
    background-image: url(zdj/giphy.gif);
}
.tytul{
    text-align: center;
    margin-top: 30px;
    font-size:150px;
    color: yellow;
}
.przycisk{
    position: absolute;
    left: 750px;
    top: 450px;
    border-radius: 20%;
    background-color: green;
    font-size: 80px;
    height: 100px;
    width: 400px;
    text-align: center;
}
.link{
text-decoration: none;
color: bisque;

}
.przycisk:hover{
    scale: 1.2;
}
.przycisk2{
width: 80px;
height: 30px;
}
